<img src="/assets/svg/Logo-Tik-Talk.svg"
 alt=""
 class="ml16 mb20"
>

<nav>
    <ul class="main-menu-list">
        <li>
            <button class="menu-item">
                <svg width="14" height="12" viewBox="0 0 14 12" class="icon-home" style="--icon-color: white;">  
                    <path d="M5.65625 11.3438H2.34375V6H0.34375L7 0L13.6562 6H11.6562V11.3438H8.34375V7.34375H5.65625V11.3438Z" fill="var(--light-color)"/>  
                </svg>
                <span>Моя страница</span>
            </button>
        </li>
    </ul>
</nav>
    